*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
body{

    background-color: #e8e8e8;
    background-size: 100vw 100 vh;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
 }

 .header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
 }

 .container{
    max-width: 1200px;
    margin: auto;
 }

.menu {
    position: absolute;
    top: 0;
    right: 20px;
    left: 260px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu i{
    color: #0d1b2a;
    font-size: 30px;
    align-items: center;
    padding-top: px;
}

.menu a {
 color: #0d1b2a;
 text-decoration: none;
 font-size: 18px;
 font-weight: bold;
}

.menu-usuario {
    padding-left: 450px;
    padding-top: px;
}

.logo img{
    height: 70px;
    width: 200px;
}
.logo{
    text-align: center;
    top: 10px;
}

.menu-lateral {
    width: 250px;
    background-color: #0d1b2a;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 10px;
    color: #fff;
}

.opciones {
    list-style: none;
    padding: 0;

}

.opciones li {
    margin: 0;
    padding: 0;
}

.opciones a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;

}

.opciones a:hover{
    background-color: #1f3a59;

}

main{
    display: flex;
    justify-content: space-between;
}

.bloque1{
    background-color: #fff;
    color: #0d1b2a;
    position: absolute;
    width: 81%;
    height: 930%;
    left: 265px;
    margin-top: 80px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bloque1 h2{

    margin-top: 5px;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;


}

.selector-fecha{
    text-align: center;
}

.selector-fecha label,
.selector-fecha input[type="date"],
.selector-fecha button{
    display: inline;
    width: 200px;
    margin-bottom:5px ;
    text-align: center;
    font-size: 18px;

}

.selector-fecha input{
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selector-fecha button {
    border-radius: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.ingresos-container h2{
    font-size: 20px;
    margin-left: 30px;
}
.ingresos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    font-size: 25px;
    margin-left: 260px;
    font-size: 18px;
}

.ingreso {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 1px;
    

}

.ingreso ul{
    margin-top: 5px;
    margin-left: 1000px;
   
}

.cierre-caja h2{
    font-size: 20px;
    margin-left: 60px;

}

.cierre-caja ul{
    margin-left: 60px;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.cierre-caja {

    margin-left: -90px ;
}

ul {
    list-style-type: none;
    padding: 0;
}

li{
    margin-bottom: 5px;

}

button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}
.button {
    margin-left: 380px;
    
}
button:hover {
    background-color: #043161;
}