*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
body{

    background-color: #e8e8e8;
    background-size: 100vw 100 vh;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
 }

 .header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
 }

 .container{
    max-width: 1200px;
    margin: auto;
 }

.menu {
    position: absolute;
    top: 0;
    right: 20px;
    left: 260px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu i{
    color: #0d1b2a;
    font-size: 30px;
    align-items: center;
    padding-top: px;
}

.menu a {
 color: #0d1b2a;
 text-decoration: none;
 font-size: 18px;
 font-weight: bold;
}

.menu-usuario {
    padding-left: 400px;
    padding-top: px;
}

.logo img{
    height: 70px;
    width: 200px;
}
.logo{
    text-align: center;
    top: 10px;
}

.menu-lateral {
    width: 250px;
    background-color: #0d1b2a;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 10px;
    color: #fff;
}

.opciones {
    list-style: none;
    padding: 0;

}

.opciones li {
    margin: 0;
    padding: 0;
}

.opciones a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;

}

.opciones a:hover{
    background-color: #1f3a59;

}

main{
    display: flex;
    justify-content: space-between;
}

.bloque1{
    background-color: #fff;
    color: #0d1b2a;
    position: absolute;
    width: 55%;
    height: 475px;
    left: 265px;
    margin-top: 80px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bloque1 h2{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    margin-left: 30px;

}

.productos-gestion {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 35px;
    text-align: none;
    margin-top: 20px;
    font-size: 30px;
}

.listas-productos{
    text-align: left;
    margin-left: 50px;

}

.listas-productos a {
    text-decoration: none;
    color: #0d1b2a;

}
.listas-productos a:hover{
    color: #e8e8e8;
}
.bloque2 {
    background-color: #0d1b2a;
    color: #fff;
    position: relative;
    width: 20%;
    height: 480px;
    left: 85%;
    margin-top: 80px;
    margin-left: -80px ;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.bloque2 h2 {
    text-align: center;
}