* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}

.container {
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.logo img{
    height: 10%;
    width: 300px;
    background-image: url(html/logo.PNG);

}

.info {
    background-color: #0d1b2a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px;
    width: 50%;
    text-align: center;
}

.info h1{
    color: #fff;
}
.info p{
    color: #fff;
}
.text-1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
} 

.text-2 {
    color: #fff;
    font-size: 18px;
}

.form{
    padding: 150px 100px;
    width: 50%;
    text-align: center;
    background-color: #e8e8e8;
    color: #fff;
}

.form h2 {
    color: #0d1b2a;
    font-size: 50px;
    margin-bottom: 30px;
}

.inputs{
    display: flex;
    flex-direction: culumn;
}

.box{
    outline: none;
    border-color: #0d1b2a;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #fff;
}

.inputs a{
    color: #0d1b2a;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 0;
    padding: 20px 5px;
}

.button-link{
    background-color: #0d1b2a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #e8e8e8;
    color: #0d1b2a;
}

.submit{
    background-color: #0d1b2a;
    padding: 10px 20px;
    border: 2px solid #e8e8e8;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3;

}

.submit:hover{
    background-color: #e8e8e8;
    color: #0d1b2a;
    border-color: #0d1b2a;
}

.icons-login {
    color: #0d1b2a;
    font-size: 40px;
}